/* f8f8f8,9893da,797a9e,72727e,625f63*/
  
  @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap")

  :root{--NavBackground:#72727e;}

  *, *::before, *:after {box-sizing: border-box;}


 @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap")

  :root{--background:#72727e;}

  *, *::before, *:after {box-sizing: border-box;}

  header {
    background-color:#72727e;
    text-align: center;
    position:fixed;
    width:100%;
    z-index: 999;
    margin:0;
    box-shadow: 0px 1px 10px #625f63;
  }

  .logo{height: 4em; margin-left: 2em;}

  header h1{color: black; margin:0;}

nav{
  position:absolute;
  text-align: left;
  top:100%;
  background-color: #72727e;
  left: 0;
  width: 100%;
  transform: scale(1,0);
  transition: transform 400ms ease-in-out;
  transform-origin: top;

}

nav ul{
  margin:0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;

}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  /*text-transform: uppercase;*/
  opacity: 0;

}

nav a:hover{
  color: #9893da;
}

.nav_toggle:checked ~ nav{
 transform: scale(1,1);
}
.nav_toggle{
  display: none;
}
.nav_toggle_label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;

  height: 100%;
  display: flex;
  align-items: center;
}

.nav_toggle_label span,
.nav_toggle_label span::before,
.nav_toggle_label span::after {
  display: block;
  background: white;
  height: 3px;
  width: 2em;
  border-radius: 2px;
  position:relative;
}

.nav_toggle_label span::before,
.nav_toggle_label span::after {
  content:'';
  position: absolute;
  }

  .nav_toggle_label span::before {
    bottom:7px;
  }
    .nav_toggle_label span::after {
    top:7px;
  }

  .nav_toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 300ms ease-in-out 250ms;
  }





/* End of Nav Styles */


















body{
  font-family: 'Roboto', sans-serif;
  display:grid;
  grid-template-areas: 
  "header header header"
  ". Intro  ."
  ". IntroPic ."
  "sub sub sub"
  "port port port"
  ". blah ."
  "footer footer footer";
  grid-template-columns: 5% 90% 5%;
  background-color: #F8F8F8;
  margin:0;

}



#space{grid-area: space; height:80px; width:100%; position:relative;z-index: -1}



#Intro {
  display:grid;
  position: relative;
  margin-top:auto;
  margin-bottom: auto;
  grid-area: Intro;
  font-size: 20px;
  padding: 40px;
  text-align: center;
   
   color: #72727e;
   height: 100vh;
   justify-content: center;
     align-content: center;

  gap: 4px;
  grid-auto-flow: row;

}
#circle1{
  display:grid;
   background-color: #F8F8F8dd;
   border-radius: 50%;
   width: 80vw;
   height: 80vw;
   align-content: center;

 }


#Intro h1{
  vertical-align: bottom; 
  margin:0;

}

#Intro h2{
  border-top: 2px solid;
  padding:15px;
  margin:0;
  color: #72727e;

}

#links {
    justify-content: center;
     align-content: center;
  gap: 4px;
  grid-auto-flow: column;
}
#links img{
  height: 4em;
}


p{background-color: #F8F8F8;}
h1{
color: #72727e;
font-size: 50px;

}

/*#IntroPic {

  margin: auto;
  position: relative;
margin-left: auto;
margin-right: auto;

  grid-area: IntroPic;
  border-radius: 50%;
  width: 60%;
  z-index: -1;
}*/
#Background {
  
  background-color: #797a9e;
  grid-area: sub;
}
#sub {
  /*grid-area: sub;*/
  text-align: center;
  color: #625f63;

  padding-top: 80px;
  
  margin:0;

}
#subtxt{
  /*grid-area: blah;*/
    display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 500px;
  width: 90%;

  
  
}

#subtxt1{
  grid-area: blah;
    display: none;
  margin-left: auto;
  margin-right: auto;
  min-width: 500px;
  width: 90%;

  /*background-color: #F8F8F8*/

}


#Portfolio{ grid-area: port; 
  display:  grid; 
justify-content:  center; 

  }

  #port_pics_div{
    grid-auto-flow:   column;
    justify-content:  center; 
  }

.portpics {
  
  width:100%;
  
  transition: transform 400ms ease-in-out;

  
}

#pp1{transform-origin: top left}
#pp2{transform-origin: top }
#pp3{transform-origin: top right}
.portpics:hover{

  transform: scale( 3  ,3);
  z-index:  6;

  
}


canvas{
  display:block;
  vertical-align:bottom;
  /*border-radius: 30%;*/
  background-color: #F8F8F8;
}


/* ---- particles.js container ---- */

#particles-js {

  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0);
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  margin: auto;
  position: fixed;
  z-index: -2;
  padding: 0;
  grid-area: IntroPic;
  

}































@media (orientation: landscape) {
  body {
    margin:0;
    grid-template-areas:
    "header header header header"
    ". Intro IntroPic ."
    "sub sub sub sub"
    ". port port ."
    "footer footer footer footer";
  grid-template-columns: 5% 30% 60% 5%;
  }
  #particles-js {
  position: relative;
  height: 80vh;
  z-index: 2;
  }
  #subtxt1{display: block;}
  #subtxt{display:none;}



    .nav_toggle_label {
      display:none;
    }


    nav{
      display:grid;
      all:unset;
      grid-area: navbar1;    
      align-items: center;
    }

    nav ul{
      display: grid;
         justify-content: end;
     align-content: center;

  gap: 4px;
  grid-auto-flow: column;
    }
    header{ display:grid; grid-area: header;     
      grid-template-areas:
    ". logo navbar1 .";
    grid-template-columns: 5% auto 1fr 5%;
    
    align-items: center;
  }

  nav li{margin-bottom:0;}
    header h1{display:grid; grid-area: logo; margin:0; width: auto; color: black;}
   


    nav a{
      opacity: 1;
      
 
    }
    /*nav li{float: right;margin-bottom: auto; margin-top: auto;}*/
    
    nav a::after{
      content:'';
      display:block;
      height:5px;
      background:#9893da;
      
      transform:scale(0,1);
      transform-origin: left;
      transition: transform ease-in-out 250ms;
      transition-orgin


    }
    nav a::before{
      content:'';
      display:block;
      /*height:5px;
      background:green;}*/

    }

    nav a:hover::after{
      transform: scale(1,1);
    }

    nav a:hover {
      color:#9893da;
    }

#circle1{
all:unset;

 }

   #port_pics_div{
    grid-auto-flow:   row;
    justify-content:  center; 
  }

.portpics {
  
  width:33%;
  
  transition: transform 400ms ease-in-out;

  
}



    }
