/*purples  f8f8f8,9893da,797a9e,72727e,625f63*/
/*fresh #edf5e1,#8ee4af,#5cdb95,#379683,#05386b,*/
  
  @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap")

  :root{--NavBackground:#72727e;}

  :root {
  --whiteishopacity: #f8f8f833;  
  --whiteish: #f8f8f8;
  --light: #9893da;
  --medium: #797a9e;
  --dark: #72727e;
  --blackish: #625f63;

}

  *, *::before, *:after {box-sizing: border-box;}


 @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap")



  *, *::before, *:after {box-sizing: border-box;}


/*--------------------------------------------------------------------  Navbar mobile view-------------------------------------------------------------------  */
/*--------------------------------------------------------------------  Have a look for Kevin Powell --------------------------------------------------------------------  */
  header {

    grid-area: header;
    background-color:var(--dark);
    text-align: center;
    position:fixed;
    width:100%;
    z-index: 999;
    margin:0;
    box-shadow: 0px 1px 10px var(--blackish);
  }

  .logo{height: 8vh;}


nav{
  position:absolute;
  text-align: left;
  top:100%;
  background-color: var(--dark);
  left: 0;
  width: 100%;
  transform: scale(1,0);
  transition: transform 400ms ease-in-out;
  transform-origin: top;

}

nav ul{
  margin:0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;

}

nav a {
  color: white;
  text-decoration: none;
  font-size: 3vh;
  opacity: 0;

}

nav a:hover{
  color: var(--light);
}

.nav_toggle:checked ~ nav{
 transform: scale(1,1);
}
.nav_toggle{
  display: none;
}
.nav_toggle_label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 2vw;

  height: 100%;
  display: flex;
  align-items: center;
}

.nav_toggle_label span,
.nav_toggle_label span::before,
.nav_toggle_label span::after {
  display: block;
  background: var(--whiteish);
  height: 0.5vh;
  width: 6vw;
  border-radius: 2px;
  position:relative;
}

.nav_toggle:checked ~ .nav_toggle_label span::before{-webkit-transform:translate(0,1vh) rotate(45deg) scale(80%); -webkit-transition:ease-in-out 100ms;}
.nav_toggle:checked ~ .nav_toggle_label span::after{-webkit-transform:translate(0,-1vh) rotate(-45deg) scale(80%); -webkit-transition: 50ms ease-in-out 50ms;}
.nav_toggle:checked ~ .nav_toggle_label span{background :var(--dark);}

.nav_toggle_label span::before,
.nav_toggle_label span::after {
  content:'';
  position: absolute;
}

.nav_toggle_label span::before {
  bottom:1vh;
}

.nav_toggle_label span::after {
  top:1vh;
}

.nav_toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 300ms ease-in-out 250ms;
}

/*-------------------------------------------------------------------- End of Nav--------------------------------------------------------------------  */


body{
  font-family: 'Roboto', sans-serif;
  display:grid;
    grid-template-areas:
    ".  header      ."
    ".  particles   ."
    ".  introtitle  ."
    ".  introjob    ."
    ".  introlinks  ."
    ".  abtmetitle  ."
    ".  abme1       ."
    ".  abtmetxt    ."
    ".  abtmeimg    ."
    ".  abtmesvg    ."
    ".  porttitle   ."
    ".  portimages  ."
    ".  cntcttitle  ."
    ".  cntctimages .";
  grid-template-columns: 3% 94% 3%;
  background-color: var(--whiteish);
  margin:0;

}


.grid_container{display:grid;}


/*-------------------------------------------------------------------- landing page--------------------------------------------------------------------  */
#intro{grid-area: header;}


#landingbackground{grid-area: introtitle / introtitle /introlinks /introlinks; background-color: var(--whiteishopacity);}

#name1 {
  grid-area: introtitle;
  font-size: 50px;
  text-align: center;
  color: var(--dark);
  justify-self: center;
  align-self: end;
  padding:20px;
  padding-top:35vh;
  margin:0;
  border-bottom: 4px solid #72727e;
}

#job{
  grid-area: introjob;
  justify-self:center;
    text-align: center;
  padding:20px;
  margin:0;
  font-size: 30px;
  color: var(--dark);
}

#links{
  grid-area:introlinks;
  height: 40vh;
  justify-self: center;
}

#links img{height: 4em;}

#mail_button:hover{transform: scale(1.05,1.05);}
#linkedin_button:hover{transform: scale(1.05,1.05);}
#tableau_button:hover{transform: scale(1.05,1.05);}
#github_button:hover{transform: scale(1.05,1.05);}

/* ---- particles.js container ---- */

#particles-js {
margin-top:50px;
    grid-area: introtitle / introtitle /introlinks /introlinks;
  height: 90vh;
   z-index: -1;
  padding: 0;
  }


/*--------------------------------------------------------------------  About me section--------------------------------------------------------------------  */

#Intro{height:60px;}

#abtmebackground{grid-area: abtmetitle  / abtmetitle / abtmesvg / abtmesvg; background-color: var(--medium);}
#about_me_title{ grid-area: abtmetitle; justify-self: center; padding-top: 80px; color: var(--whiteish); text-align: center;}
#about_me_text{ grid-area:abtmetxt;justify-self: right;align-self:  center; padding:40px;color: var(--whiteish); font-size: 25px; text-align:  justify;}
#abtmeimg{ grid-area: abtmeimg; height:50vh;border-radius: 50%;padding:40px;justify-self:center;}
#timelinehorizon{display: none;}
#timeline{solid;grid-area:abtmesvg; width: 90%;justify-self:center;}



/*--------------------------------------------------------------------  portfolio section--------------------------------------------------------------------  */

#portfoliobackground{grid-area: porttitle  / porttitle / portimages / portimages; background-color: var(--whiteish);}
#portfolio_title{grid-area:porttitle;justify-self: center;padding-top: 80px;}
#portimages{grid-area:portimages;justify-self: center;padding-bottom: 5vh;}
#portimages object{width:90vw;}
#pp1,#pp2,#pp3 {padding: 2%;}
.portpics:hover{

}

  .ppoverlay a{color: var(--blackish); text-decoration: none;}
  .overlaytext{ display: grid;
    color: var(--blackish);
  font-size: 20px;
  text-align: justify;
  align-content: center;
  vertical-align: middle;
  background-color: var(--whiteish);
  border-radius: 20px;
  opacity:1;
  padding:10px;
  padding-bottom:40px;
  margin-bottom:20px;
}


/*--------------------------------------------------------------------  contact section--------------------------------------------------------------------  */



#contact_background{grid-area: cntcttitle  / cntcttitle / cntctimages / cntctimages; background-color: var(--dark);}
#contact_title{grid-area: cntcttitle;justify-self:center;color: var(--whiteish);}
#contact_images{ grid-area:cntctimages; justify-self: center; align-self: center;}
#contact_images img{height:4em;margin:5px;margin-bottom: 40px;}

h1{
  color: #72727e;
  font-size: 50px;
}


/*--------------------------------------------------------------------Responsive changes-------------------------------------------------------------------  */


@media (orientation: landscape) {
  body {
    display: grid;
    margin:0;
    grid-template-areas:
    "header       header      header      header"
    "introtitle   introtitle  particles   particles"
    "introjob     introjob    particles   particles"
    "introlinks   introlinks  particles   particles"
    "abtmetitle   abtmetitle  abtmetitle  abtmetitle"
    "abme1        abtmetxt    abtmetxt    abtmeimg"
    "abtmesvg     abtmesvg    abtmesvg    abtmesvg"
    "porttitle    porttitle   porttitle   porttitle"
    "portimages   portimages  portimages  portimages"
    "cntcttitle   cntcttitle  cntcttitle  cntcttitle"
    "cntctimages  cntctimages cntctimages cntctimages";
  
    grid-template-columns: 20% 15% 15% 50%;
  }

/*--------------------------------------------------------------------Landing section--------------------------------------------------------------------  */
#particles-js {
    margin-top:50px;
    grid-area: particles;
    height: 90vh;
    z-index: 0;
    padding: 0;
  }

#landingbackground{grid-area: introtitle / introtitle /particles /particles;}

/*--------------------------------------------------------------------About me section--------------------------------------------------------------------  */

#abtmeimg{
  grid-area: abtmeimg; 
  height:50vh;
  border-radius: 50%;
  padding:40px;
  justify-self:left;
  align-self:center;
}
#timelinehorizon{
  display:block;
  grid-area:abtmesvg; 
  width: 90%;
  justify-self:center;
}

#timeline{display: none;}


/*--------------------------------------------------------------------portfolio section--------------------------------------------------------------------  */

#portimages {
  display: grid; 
  width:90vw;   
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  grid-template-areas:  "aa b c"
                        "dd e f"
  }


  #pp1,#pp1overlay{
    grid-area: aa;
  }

  #pp1overlay a{
    color: var(--blackish);
    text-decoration: none;
  }
  #pp1:hover ~ #pp1overlay{transform:scale(1,1);}
  #pp1overlay:hover{transform:scale(1,1);}

  #pp2,#pp2overlay{grid-area: b;}
  #pp2overlay a{
    color: var(--blackish); 
    text-decoration: none;
  }
  #pp2:hover ~ #pp2overlay{transform:scale(1,1);}

  #pp2overlay:hover{transform:scale(1,1);}


  #pp3,#pp3overlay{grid-area: c;}

  #pp3overlay a{
    color: var(--blackish); 
    text-decoration: none;
  }

  #pp3:hover ~ #pp3overlay{transform:scale(1,1);}

  #pp3overlay:hover{transform:scale(1,1);}


  .ppoverlay{
    display:grid;
    background-color:#9893da44;
    transform:scale(1,0);
    transform-origin: bottom;
    transition:ease-in-out 250ms;
    opacity:0.95;
    align-content: center;
    border-radius: 5px;
  }

  .overlaytext{ display: grid;
    color: var(--blackish);
    font-size: 20px;
    text-align: center;
    align-content: center;
    vertical-align: middle;
    background-color: var(--whiteish);
    border-radius: 20px;
    height: 30vh;
    opacity:1;
    padding:50px;
}

  #pp1overlay a{
    color: var(--blackish); 
    text-decoration: none;
  }


  #pp1:hover ~ #pp1overlay{transform:scale(1,1);}

  #pp1overlay:hover{transform:scale(1,1);}

  #portimages a{
    width:25vw; 
    justify-self:center;
    align-self:center;
  }

  #portimages object{width:25vw; }


/*--------------------------------------------------------------------Navigation bar--------------------------------------------------------------------  */
/*-----------------------------------------------------------Have a look for Kevin Powell--------------------------------------------------------------  */

  .nav_toggle_label {
    display:none;
  }


  nav{
    display:grid;
    all:unset;
    grid-area: navbar1;    
    align-items: center;
  }

  nav ul{
    display: grid;
    justify-content: end;
    align-content: center;
    gap: 4px;
    grid-auto-flow: column;
  }
  header{ 
    display:grid; 
    grid-area: header;     
    grid-template-areas:
    ". logo navbar1 .";
    grid-template-columns: 5% auto 1fr 5%;
    align-items: center;
  }


  nav li{margin-bottom:0;}
  
  header h1{
    display:grid; 
    grid-area: logo; 
    margin:0; 
    width: auto; 
    color: black;
  }
   


  nav a{
    opacity: 1;
    font-size: 20px;
  }

  
  nav a::after{
    content:'';
    display:block;
    height:5px;
    background:var(--light);
    transform:scale(0,1);
    transform-origin: left;
    transition: transform ease-in-out 250ms;
  }

  nav a::before{
    content:'';
    display:block;
  }

  nav a:hover::after{
    transform: scale(1,1);
  }

  nav a:hover {
    color:var(--light);
  }

}

@media (orientation:landscape) and (max-width: 1400px) {
  #about_me_text{ grid-area:abme1/abme1/abtmetxt/abtmetxt;font-size:20px;}
}




